
table, caption, tr, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 9px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

table, caption {
    box-shadow: 10px 10px 5px #628ca6;
}

tbody tr:nth-child(odd) {
    background-color: #e7f0ed;
}

caption, tfoot td {
    background-color: #7fb9c2;
}

caption {
    font-weight: 700;
    font-size: 25px;
}

thead tr th {
    background-color: #628ca6;
    color: white;
}

tbody tr:nth-child(5) td:nth-child(1) {
    font-style: italic;
}

tfoot tr td {
    font-size: 12px;
}

.row-color {
    background-color: #e7ffed;
}

#cell {
    background-color: #628ca6;
    color: white;
}