/* table/IPad screen */

@media only screen and (min-width: 32.5em) {
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
    }

    ul li a {
        padding: 50px;
    }

    .navigation li:first-child {
		display: none;
    }
    
    .navigation li {
        display: block;
    }
    
    section {
        grid-template-columns: 1fr 1fr;
        text-align: left;
    }

    iframe{
        display: block;
    }

    .services {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 25px;
    }
}